<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.food_on.app">

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name="com.example.gofood.deliveryFoodPanel.Delivery_ShippingOrder"
            android:label="Ship Orders"></activity>
        <activity
            android:name="com.example.gofood.deliveryFoodPanel.DeliveryShipOrderView"
            android:label="Ship Orders" />
        <activity
            android:name="com.example.gofood.deliveryFoodPanel.DeliveryPendingOrderView"
            android:label="Pending Orders" />
        <activity android:name="com.example.gofood.Delivery_FoodPanelBottomNavigation" />
        <activity
            android:name="com.example.gofood.Delivery_SendOtp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.Delivery_ForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.Delivery_Login"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.Delivery_LoginPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.Delivery_VerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.Delivery_registration"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.chefFoodPanel.ChefPreparedOrderView"
            android:label="Prepared Orders" />
        <activity
            android:name="com.example.gofood.chefFoodPanel.ChefPreparedOrder"
            android:label="Prepared Orders" />
        <activity
            android:name="com.example.gofood.chefFoodPanel.ChefOrdertobePrepareView"
            android:label="Orders to be Prepared" />
        <activity
            android:name="com.example.gofood.chefFoodPanel.ChefOrderTobePrepared"
            android:label="Orders to be Prepared" />
        <activity
            android:name="com.example.gofood.customerFoodPanel.CustomerPaymentOTP"
            android:label="Online Payment" />
        <activity
            android:name="com.example.gofood.customerFoodPanel.CustomerOnlinePayment"
            android:label="Online Payment" />
        <activity
            android:name="com.example.gofood.customerFoodPanel.CustomerPayment"
            android:label="Payable Orders" />
        <activity
            android:name="com.example.gofood.customerFoodPanel.PayableOrders"
            android:label="Payable Orders" />
        <activity
            android:name="com.example.gofood.customerFoodPanel.PendingOrders"
            android:label="Pending Orders" />
        <activity
            android:name="com.example.gofood.chefFoodPanel.Chef_order_dishes"
            android:label="Orders" />
        <activity
            android:name="com.example.gofood.customerFoodPanel.CustomerPhoneSendOTP"
            android:label="Mobile Number" />
        <activity
            android:name="com.example.gofood.customerFoodPanel.CustomerPhonenumber"
            android:label="Mobile Number" />
        <activity
            android:name="com.example.gofood.customerFoodPanel.CustomerForgotpassword"
            android:label="Password" />
        <activity
            android:name="com.example.gofood.customerFoodPanel.CustomerPassword"
            android:label="Password" />
        <activity android:name="com.example.gofood.customerFoodPanel.OrderDish" />
        <activity
            android:name="com.example.gofood.chefFoodPanel.Update_Delete_Dish"
            android:label="Home" />
        <activity
            android:name="com.example.gofood.chefFoodPanel.Chef_PostDish"
            android:label="Post Dish" />
        <activity
            android:name="com.example.gofood.ChefFoodPanel_BottomNavigation"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.example.gofood.CustomerFoodPanel_BottomNavigation"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name="com.example.gofood.MainMenu"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.Chefsendotp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.Chefloginphone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.sendotp"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.LoginPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.ChefVerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.VerifyPhone"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.ChefForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.ChefLogin"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.ChooseOne"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.ChefRegistration"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.ForgotPassword"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.Login"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.Registration"
            android:theme="@style/AppThemeNoActionbar" />
        <activity
            android:name="com.example.gofood.MainActivity"
            android:theme="@style/AppThemeNoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.gofood.SendNotification.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.example.gofood.SendNotification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>